.deed {
    display: flex;
    
    width: 410px;
    margin: 0 auto;
 }
 .deed1 {
    display: flex;
    
    width: 220px;
    margin: 0 auto;
 }
 .deed2 {
    display: flex;
    
    width: 235px;
    margin: 0 auto;
 }