.box {
    display: flex;
    padding: 10px;
    width: 500px;
    margin: 0 auto;
 }
 .superbox {
    /* border: 2px black;
    border-style: solid; */
    border-radius: 25px;
    
    -webkit-animation: card 40s ease infinite;
    -moz-animation: card 40s ease infinite;
    box-shadow: 0 0 25px 5px #000;
    margin-left: auto;
    margin-right: auto;
    animation: card 40s ease infinite alternate;
    overflow: auto;
    height: fit-content;
    width: fit-content;
}
 @-webkit-keyframes card {
    0%{background-position:75% 0%}
    50%{background-position:26% 100%}
    100%{background-position:75% 0%}
}
@-moz-keyframes card {
    0%{background-position:75% 0%}
    50%{background-position:26% 100%}
    100%{background-position:75% 0%}
}
@keyframes card { 
    0% {
        
        background-color: #64d53a;
      }
      50% {
        background-color: bisque;
      }
      100% {
        
        background-color: #fd297b;
      }
}

.wrapper {
    display: grid;
    height: 100vh;
    place-content: center;
    
    
}
